body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота вьюпорта для вертикального центрирования */
    margin: 0; /* Убираем отступы */
    font-family: Arial, sans-serif; 
}

.info {
    border-radius: 10px;
    color: black;
    text-align: center; 
    padding: 100px; 
    background-color: #94bdc1; /
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(59, 143, 203, 0.1); 
}
